@charset "utf-8";
@font-face { font-family:"LGSmHaTR"; src:url("../font/LGSmHaTL.woff2") format("woff2"); font-weight:400; font-style:normal; font-display:block; }
@font-face { font-family:"LGSmHaTR"; src:url("../font/LGSmHaTR.woff2") format("woff2"); font-weight:500; font-style:normal; font-display:block; }
@font-face { font-family:"LGSmHaTR"; src:url("../font/LGSmHaTSB.woff2") format("woff2"); font-weight:700; font-style:normal; font-display:block; }
@font-face { font-family:"LGSmHaTR"; src:url("../font/LGSmHaTB.woff2") format("woff2"); font-weight:900; font-style:normal; font-display:block; }

/**
 base collection
 
 */

$c-mi:#ec017e;
$c-sb:#8b669d;
$c-sb2:#264180;
$c-pit:#3fb9a9;
$c-pit2:#ffcd66;
$c-pit3:#f34022;
$c-gry:#333333;
$c-gry2:#888888;
$c-gry3:#aaaaaa;
$c-gry4:#f1f1f1;
$c-tm:$c-gry;
$c-ts:$c-gry2;
$c-bd:$c-gry3;
$c-bg:$c-gry4;
$c-bg2:#f8f8f8;
$c-bg-mi:#fff5f5;
$c-bg-sb-ov:#ccdee8;
$c-bg-sb:#eae4f1;
$c-bg-sb2-ov:#e0d7ea;
$c-bg-bt:#eeeeee;
$c-bg-bt-ov:#cccccc;
$c-wt:#ffffff;
$c-bl:#000000;
$c-bd-line:#cdcdcd;
$c-bd-lineT:#4d5762;
$c-bd-input:#a8a8a8;
$fs-t:28px;
$fs-d:13px;
$fs-s:13px;
$fs-l:13px;

@mixin dpBlind { position:absolute; width:1; height:1; margin:-1px; padding:0; border:0 solid transparent; line-height:0; font-size:0; white-space:nowrap; overflow:hidden; clip:rect(0,0,0,); clip-path:inset(50%); }
@mixin btnDefault { display:inline-block; align-items:center; justify-content:center; height:30px; margin-left:4px; padding:0 10px; background-color:#f2f2f2; border-radius:3px; font-weight:500; color:$c-tm; cursor:pointer; }

:root { --color-mi:#f53a1f; --color-sb:#FF8A15; --color-txm:#333; --color-txs:#828282; --color-wit:#fff; --color-bl:#000; --color-bgc:#fff8e6; --color-bg:#F7F7F7; --color-bd:#eee; --color-gap:#e0e0e0; 
--fsize-d:14px; --fsize-s:12px; }

*,::before,::after{box-sizing:border-box}::before,::after{text-decoration:inherit;vertical-align:inherit}.cf:after{display:block;content:"";clear:both}html{width:100%;height:100%;cursor:default;-moz-tab-size:4;tab-size:4;-webkit-tap-highlight-color:transparent;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;word-break:break-word}body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}body,button,input,select,table,textarea{font-size:13px;line-height:1.5;color:#434343;font-family:LGSmHaTR,"Spoqa Han Sans Neo", "Noto Sans KR",-apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",arial,dotum,돋움,sans-serif;}h1,h2,h3,h4,h5,h6{font-size:inherit;line-height:inherit}hr{height:0;overflow:visible}main,details{display:block}dl,ol,ul,menu{list-style:none}pre,code,kbd,samp{font-family:LGSmHaTR,"Spoqa Han Sans Neo", "Noto Sans KR",-apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",arial,dotum,돋움,sans-serif;font-size:1em}address,em,i{font-style:normal}a{background-color:transparent;text-decoration:none;color:inherit}a:hover{text-decoration:none}abbr[title]{text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:700}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,canvas,iframe,img,svg,video{vertical-align:middle}audio,video{display:inline-block}img{vertical-align:top}iframe,img,fieldset{border-style:none}/*img,video{max-width:100%}*/svg:not([fill]){fill:currentColor}svg:not(:root){overflow:hidden}img[src$=".gif"],img[src$=".png"]{image-rendering:-moz-crisp-edges;image-rendering:-o-crisp-edges;image-rendering:-webkit-optimize-contrast;image-rendering:crisp-edges;-ms-interpolation-mode:nearest-neighbor}table{border-collapse:collapse;border-spacing:0}button{background-color:transparent}button,select{text-transform:none}button,input{border:0;border-radius:0;overflow:visible}input:focus{outline:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}figure{margin:0}fieldset{border:1px solid #a0a0a0;padding:.35em .75em .625em}input{overflow:visible}legend{color:inherit;display:table;max-width:100%;white-space:normal}progress{display:inline-block;vertical-align:baseline}select{text-transform:none}textarea{overflow:auto;resize:vertical}[type="checkbox"],[type="radio"]{padding:0}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}::-webkit-input-placeholder{color:inherit;opacity:.54}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}dialog{background-color:#fff;border:solid;color:#434343;display:block;height:-moz-fit-content;height:-webkit-fit-content;height:fit-content;left:0;margin:auto;padding:1em;position:absolute;right:0;width:-moz-fit-content;width:-webkit-fit-content;width:fit-content}dialog:not([open]){display:none}summary{display:list-item}a,area,button,input,label,select,summary,textarea,[tabindex]{-ms-touch-action:manipulation;touch-action:manipulation}[hidden]{display:none}[aria-busy="true"]{cursor:progress}[aria-controls]{cursor:pointer}[aria-disabled="true"],[disabled]{cursor:not-allowed}[aria-hidden="false"][hidden]{display:initial}[aria-hidden="false"][hidden]:not(:focus){clip:rect(0,0,0,0);position:absolute}

div { scrollbar-color: #dadce0 rgba(255,255,255,.2); }
::-webkit-scrollbar { background:rgba(255,255,255,.2); height:8px; width:8px; }
::-webkit-scrollbar-thumb { border:none; -webkit-box-shadow:none; box-shadow:none; background:#dadce0; -webkit-border-radius:8px; border-radius:8px; min-height:40px; }
:root { --color-mi:#ec017e; --color-mi2:#7b558d; --color-mi3:#264180; --color-pit:#2fb8a8; --color-pit2:#ffcd66;
    --color-gry:#333333; --color-gry2:#888888; --color-gry3:#aaaaaa; --color-bg:#f1f1f1;
    --fsize-d:13px; }
html, body { height:100%; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:auto; text-rendering:geometricPrecision; color:$c-tm; font-size:$fs-d; font-weight:400; }


.dp-blind { position:absolute !important; width:1px !important; height:1px !important; padding:0 !important; margin:-1px !important; border:0px solid transparent !important; line-height:0 !important; font-size:0 !important; white-space:nowrap !important; overflow:hidden !important; clip:rect(0,0,0,0) !important; clip-path:inset(50%) !important; }

.dp-none { display:none !important; }

//인풋
.field-wrap { 
    input { 
        &:not([type="radio"], [type="checkbox"]) { flex:1; }
    }
    + .field-wrap { margin-top:5px; }
}
.field-wrap { display:block; display:flex; flex-flow:row wrap; justify-content:flex-start; align-items:center;
    label { display:inline-block; padding:5px 6px 5px 0; line-height:1.2; vertical-align:baseline; }
    &.cid-auto { 
        > * { flex:none !important; width:auto !important; }
    }
    &.cid-range {
        > * { margin-right:4px !important; }
    }
    &.cid-center { justify-content:center; }
    &.cid-full { width:100%; }
    &.cid-grow { 
        > * { flex-grow:1 !important; margin:none !important; }
    }
}
.field-wrap input, .field-wrap select, .field-wrap textarea, .field-input, .field-select, .field-textarea, .field-button { display:inline-block; vertical-align:baseline;
    + input { margin-left:12px; }
    + label { margin-left:4px; }
    &:not([type="radio"], [type="checkbox"]) { height:26px; padding:4px 6px; line-height:18px; border:1px solid $c-bd-input; border-radius:2px; line-height:1.2; 
        + input { margin-left:4px; }
        + label { margin-left:4px; }
        &:required { background-color:$c-bg-mi; }
        &:disabled { background-color:$c-bg; }
        &:read-only {  }
    }
    &:focus,
    &:hover { border-color:$c-tm; background-color:$c-wt; }
    &[type="radio"],
    &[type="checkbox"] { width:auto; margin-left:12px; cursor:pointer; 
        + label { cursor:pointer; }
        &:first-child { margin-left:0; }
    }
    &[type="text"] { width:100%; 
        
    }
    &[type="number"] { text-align:right; }
    &[type="file"] { @include dpBlind;
        + input[type="text"] { flex:none; width:25%; min-width:200px; margin-left:0;
            + button { @include btnDefault; 
                &:hover,
                &:focus { filter:brightness(95%); }
            }
        }
    }
    + select { margin-left:4px; }
    &[type="datetime-local"] { cursor:pointer; }
    &[type="search"] { 
        + button { @include btnDefault; height:26px; background-color:$c-sb; color:$c-wt;
            &:hover,
            &:focus { filter:brightness(95%); }
        }
    }
    .MuiSvgIcon-root { font-size:1.3rem; }
    &.list { @include btnDefault; padding:0 15px; border:0 solid transparent; height:26px; }
    &.detail { @include btnDefault; padding:0 15px; border:0 solid transparent; height:26px; }
    &.add { @include btnDefault; padding:0 25px; border:0 solid transparent; height:26px; background-color:$c-sb !important; color:$c-wt !important; }
    &.del { @include btnDefault; padding:0 25px; border:0 solid transparent; height:26px; background-color:$c-gry !important; color:$c-wt !important; }
    &[type="button"] { @include btnDefault; border:0 solid transparent;
        &.play { width:20px; height:20px; overflow:hidden; margin-left:4px; padding:0; border-radius:50%; text-align:center; line-height:18px; }
        &:hover,
        &:focus { filter:brightness(95%); }
    }
    &[data-error] { border-color:$c-mi; }
    
    
}
.field-wrap textarea { width:100%; height:auto !important; }
.field-wrap { 
    &[class*="keyword"] {
        button { @include btnDefault; }
    }
    &.keyword { 
        &1 { 
            button { background-color:$c-pit; color:$c-wt; }
        }
        &2 { 
            button { background-color:$c-pit2; color:$c-wt; }
        }
        &3 { 
            button { background-color:$c-pit3; color:$c-wt; }
        }        
    }
    &.isBd { align-items:stretch; border:1px solid $c-bd-line; }
    .inTd { display:inline-block; display:inline-flex; flex-flow:nowrap row; align-items:center; justify-content:center; min-height:26px; padding:5px 10px; border-left:1px solid $c-bd-line; 
        &:first-child { border-left:0 solid $c-bd-line; }
        &.isCol { flex:1; 
            &.isLeft { justify-content:flex-start; }
        }
        &.isRow { flex-flow:wrap column; 
            &.isLeft { align-items:flex-start; }
        }
        &.isFull { width:100%; }
        
    }
    &.isFull { width:100%; }
}


.field-input-file-img { 
    span { display:inline-block; position:relative; width:auto; height:auto; border:1px solid $c-bd;
        img { width:100%; max-height:150px; object-fit:cover; }
        button { display:inline-block; overflow:hidden; position:absolute; right:-1px; top:-1px; width:21px; height:21px; background-color:$c-pit3; color:$c-wt; cursor:pointer; }
    }
}

/* tag 재정의 */
.audio-wrap { display:inline-block; width:281px; height:26px; position:relative; margin-bottom:5px;
    .audio-default { width:260px; height:26px; }
    button { display:inline-block; overflow:hidden; position:absolute; right:0; top:50%; transform:translateY(-50%); width:21px; height:21px; background-color:$c-pit3; color:$c-wt; cursor:pointer; }
}


//정렬 align(text, flex) - (left, right)
.at-l { text-align:left !important; }
.at-r { text-align:right !important; }
.af-l { margin-right:auto !important; }
.af-r { margin-left:auto !important; }

//디스플레이 display(flex, block, inlineblock) - 기본값(full, auto)
.df-a { display:flex; }
.df-f { display:flex !important; width:100%; 
    >button, a { flex:1; }
}
.db-f { display:block; }
.di-a { display:inline-block; }

.pst-right-top { position:relative !important; right:0 !important; top:-36px !important; margin-bottom:-30px !important; padding-top:0 !important; }

.cid {
    &-img {
        img { max-width:80px; max-height:80px; object-fit:cover; }
    }
    &-event {
        &::before { content:"이벤트"; display:inline-block; width:auto; height:21px; margin-right:4px; padding:0 8px; border-radius:11px; background-color:$c-mi; line-height:21px; vertical-align:baseline; color:$c-wt; }
    }
    &-eventend {
        &::after { content:"이벤트"; display:inline-block; width:auto; height:21px; margin-left:4px; padding:0 8px; border-radius:11px; background-color:$c-mi; line-height:22px; vertical-align:baseline; color:$c-wt; }
    }
    &-auto {
        > * { flex:none !important; width:auto !important; }
    }
    &-range {
        > * { margin-right:4px !important; }
    }
    &-center { justify-content:center !important; }
    &-full { width:100% !important; }
    &-grow {
        > button { flex-grow:1 !important; }
    }
}

.text-link { font-weight:500; text-decoration:underline; color:$c-sb2; cursor:pointer; }
.text-pit { font-weight:500; color:$c-mi; cursor:pointer; }
.text-help { padding-top:4px; color:$c-gry2; }
.text-info { display:inline-block; margin-left:10px; font-size:0.9rem; color:$c-mi; }
.text-info-icon { display:inline-block; margin-left:10px; font-size:0.9rem; color:$c-sb; 
    &::before { content:"i"; display:inline-block; width:16px; height:16px; margin-right:2px; border-radius:50%; background-color:$c-sb; text-align:center; line-height:18px; color:$c-wt; }
}


// .mg {
//     //이중//$items: top, right, bottom, left;
//     $i: 0;
//     //이중//@each $item in $items {
//         @while $i <= 30 {
//             //이중//&-#{str-slice($item, 1, 1)}#{$i} { margin-#{$item}:$i !important; }
//             &-t#{$i} { margin-top:#{$i}px !important; } 
//             &-r#{$i} { margin-right:#{$i}px !important; } 
//             &-b#{$i} { margin-bottom:#{$i}px !important; } 
//             &-l#{$i} { margin-left:#{$i}px !important; } 

//             $i: $i + 5;
//         }
//     //이중//}    
// }
.mg-t0 { margin-top:0 !important; } .mg-t10 { margin-top:10px !important; } .mg-t20 { margin-top:20px !important; } .mg-t30 { margin-top:30px !important; }
.mg-b10 { margin-bottom:10px !important; } .mg-b20 { margin-bottom:20px !important; } .mg-b30 { margin-bottom:30px !important; }
.mg-ra { margin-right:auto !important; } .mg-la { margin-left:auto !important; }

// .pd {
//     $i: 0;
//     @while $i <= 30 {
//         &-#{$i} { padding:#{$i}px !important; } 
//         $i: $i + 5;
//     }
//     &- {
//         $j: 0;
//         @while $j <= 30 {
//             &t#{$j} { padding-top:#{$j}px solid transparent !important; } 
//             &r#{$j} { padding-right:#{$j}px solid transparent !important; } 
//             &b#{$j} { padding-bottom:#{$j}px solid transparent !important; } 
//             &l#{$j} { padding-left:#{$j}px solid transparent !important; } 

//             $ij: $j + 5;
//         }
//     }
// }
.pd-0 { padding:0 !important; } .pd-10 { padding:10px !important; } .pd-20 { padding:20px !important; }
.pd-t0 { padding-top:0 !important; } .pd-t5 { padding-top:5px !important; }

// .bd {
//     $i: 0;
//     @while $i <= 30 {
//         &-t#{$i} { border-top:#{$i}px solid transparent !important; } 
//         &-r#{$i} { border-right:#{$i}px solid transparent !important; } 
//         &-b#{$i} { border-bottom:#{$i}px solid transparent !important; } 
//         &-l#{$i} { border-left:#{$i}px solid transparent !important; } 

//         $i: $i + 5;
//     }
// }
.bd-1 { border:1px solid $c-bd-line !important; }
.bd-t0 { border:0 solid transparent !important; }
.bd-b0 { border-bottom:0 solid transparent !important; } .bd-b1 { border-bottom:1px solid $c-bd-line !important; }
// .wt {
//     &-pt {
//         $i: 0;
//         @while $i <= 600 {
//             &#{$i} { flex:none !important; width:#{$i} !important; } 
//             $i: $i + 50;
//         }
//     }
//     &-pc {
//         $i: 0;
//         @while $i <= 100 {
//             &#{$i} { flex:none !important; width:calc(1% * #{$i}); } 
//             $i: $i + 5;
//         }
//     }
// }

.wt-pt { width:150px !important; }
.wt-pc10 { width:10% !important; flex-basis:10% !important; } .wt-pc20 { width:20% !important; flex-basis:20% !important; } .wt-pc30 { width:30% !important; flex-basis:30% !important; }
.wt-pc70 { width:70% !important; flex-basis:70% !important; }